In [19]:
analysts = ["Anatoly", "Olga"]

In [20]:
years = [2, 3]

In [22]:
hasJobs = [False, True]

In [37]:
if (hasJob):
    massage = "Anatoly molodec!"
else:
    massage = "Anatoly, good luck!"
print(massage)

Anatoly molodec!

In [51]:
jobYears = 2

In [52]:
salary = 100000

In [63]:
massage = "Addition is equal {}"

In [64]:
if (jobYears < 1):
    print("0%")
    coefficient = 0
elif (jobYears >= 1 and jobYears < 2):
    print("20%")
    coefficient = 0.2""
else:
    print("40%")
    coefficient = 0.4
    
print(massage.format(coefficient))
newSalary = salary + (salary * coefficient)
print(newSalary)

40%
Addition is equal 0.4
140000.0

In [73]:
use_info = [40, "Vladimirovna", 120000.0, 2]

In [74]:
use_info

[40, 'Vladimirovna', 120000.0, 2]

In [77]:
use_info.append('Voronov')
use_info.append(42)

In [80]:
user_ages = [10, 18, 21, 35, 42, 27, 12, 16]

user_ages = [10, 18, 21, 35, 42, 27, 12, 16]

In [84]:
for i in user_ages:
    if (i > 18):
        print(i)

21
35
42
27

In [65]:
workers = [['Ivan', 'Ivanov', 100000, 2], ['Petr', 'Petrov', 150000, 2], ['Sidor', 'Sidorov', 200000, 3]]
status = '{user_name} {user_family} is {position}'

In [86]:
workers = [['Ivan', 'Ivanov', 100000, 2], ['Petr', 'Petrov', 150000, 5], ['Sidor', 'Sidorov', 200000, 3]]
status = '{user_name} {user_family} is {position}'


for i in range(len(workers)):
    if workers[i][3] < 2:
        position = 'junior'
    elif workers[i][3] >= 2 and workers[i][3] < 5:
        position = 'middle'
    else: 
        position = 'senior'
    print("%(name)s %(family)s is %(position)s" % {"name": workers[i][0], "family": workers[i][1], "position": position})

Ivan Ivanov is middle
Petr Petrov is senior
Sidor Sidorov is middle

In [88]:
n = 0
N = 10
lst = []
while n <= N:
    lst.append(n)
    n += 2
print(lst)

[0, 2, 4, 6, 8, 10]

In [54]:
values = [12, 134, 10, 47, 100, 20, 50, 160, 210]
tens = []

In [34]:
for i in values:
    if i % 10 == 0:
        tens.append(i)

In [35]:
tens

[10, 100, 20, 50, 160, 210]

In [58]:
workers = [['Ivan', 'Ivanov', 100000, 2], ['Petr', 'Petrov', 150000, 2], ['Sidor', 'Sidorov', 200000, 3]]
status = '{user_name} {user_family} is {position}'

In [60]:
for i in workers:
    print(workers[i:])

TypeError: slice indices must be integers or None or have an __index__ method

In [96]:
users_dict ={
    'mvolkova' : {'name' : 'Masha', 'surname' : 'Volkova', 'age' : 25, 'salary' : 60000, 'position' : 'junior'},
    'pvoronov' : {'name' : 'Peter', 'surname' : 'Voronov', 'age' : 27, 'salary' : 100000, 'position' : 'junior'},
    'pparker' : {'name' : 'Peter', 'surname' : 'Parker', 'age' : 35, 'salary' : 150000, 'position' : 'middle'},
    'akarpov' : {'name' : 'Anatoly', 'surname' : 'Karpov', 'age' : 30, 'salary' : 250000, 'position' : 'senior'}
 } 
users_dict['mvolkova']['age']

25