In [1]:
import pandas as pd
import datetime
import vk_api
import os
import requests
import json
import random
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import sys
from urllib.parse import urlencode

from io import BytesIO

## Задание 2

In [6]:
req = requests.get('https://docs.google.com/spreadsheets/d/1e3PRXmMNXo9AZZnaol1aHgYxtH6KYaCDymEQlK6jaO8/export?format=csv')
data = req.content

df = pd.read_csv(BytesIO(data))

In [28]:
lesson2 =100 *( df.users[1] / df.users.sum())
lesson2.round(0)

41.0

##  Задание 3

In [30]:
df = pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-v-kachanovskij-24/Lesson7/7_browser.csv')
df

          date           browser user_type  users
0   2020-06-14     Google Chrome    People    139
1   2020-06-14     Chrome Mobile    People     35
2   2020-06-14     Google Chrome    Robots     28
3   2020-06-14    Yandex Browser    People     22
4   2020-06-14           Firefox    People     15
5   2020-06-14            Safari    People     13
6   2020-06-14           Firefox    Robots      8
7   2020-06-14   Android Browser    People      8
8   2020-06-14             Opera    People      5
9   2020-06-14     Mobile Safari    People      5
10  2020-06-14  Samsung Internet    People      5
11  2020-06-14            Safari    Robots      2
12  2020-06-14             UCWEB    Robots      2
13  2020-06-14              Edge    Robots      2
14  2020-06-14             Opera    Robots      1
15  2020-06-14             UCWEB    People      1
16  2020-06-14    Firefox Mobile    People      1
17  2020-06-14    Yandex Browser    Robots      1
18  2020-06-14   Android Browser    Robots      1
19  2020-06-14     Chrome Mobile    Robots      1
20  2020-06-14          Chromium    People      1
21  2020-06-14          Chromium    Robots      1
22  2020-06-14              Edge    People      1
23  2020-06-14            CocCoc    People      1

In [77]:
chrome_robots = pd.Series(np.where((df.browser.str.contains('Chrome')) & (df.user_type =='Robots'), 1, 0))

In [78]:
chrome_robots

0     0
1     0
2     1
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    1
20    0
21    0
22    0
23    0
dtype: int64

## Задание 4

In [80]:
df = pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-v-kachanovskij-24/Lesson7/sample_ads.csv')
df

    ad_id user_id click_type
0   12345   qwert        top
1   12345   fsssc     center
2   12345   vfvgg        NaN
3   12345   asrvv        NaN
4   12345   tynuy        top
5   12345   vreio        NaN
6   12345   oirbv        top
7   12345   kjvbe        NaN
8   12345   vkrej     center
9   12345   krjvb        top
10  12345   vrejn        top
11  12345   vrejk     center
12  12345   pirbv        NaN
13  12345    mpev        NaN
14  12345  pi3bvk        top
15  12345  osbvor     center
16  12345   vrbuo        NaN
17  12345   o3b0v        top

In [86]:
not_nan_count = np.where(df.click_type.notna(), 1, 0).sum()
not_nan_count

11

## Задание 5

In [89]:
lst = ['2', '4.444', 'hello', '5', '6']

In [93]:
new_list = []
for i in lst:
    try:
        new_list.append(int(i))
    except:
        continue
new_list

[2, 5, 6]

In [91]:
new_list

NameError: name 'new_list' is not defined

## Задание 6

In [3]:
telegram_token = '5523163336:AAHnZPwF2fFZGfRYH4t2Slvgh9oENGx-OKA'

In [4]:
chat_id = 752445701

message = 'Как дела?'

params = {'chat_id': chat_id, 'text': message}
base_url = f'https://api.telegram.org/bot{telegram_token}/'
url = base_url + 'sendMessage?' + urlencode(params)
resp = requests.get(url)